html { 
    direction:rtl;
}
.themeix-section-h .see-all-link {
    float: left;
    margin-left: 0;
    padding-left: 0;
}
.text-right {
    text-align: left;
}
.header-top .user-info, .header-top .user-info a, .site-info, .site-info a {
    padding-right: 0;
}
.modal-header .close-btn {
    float: left;
}
.header-top i {
    padding-right: 0;
    padding-left: 10px;
}
.header-top .sepator {
    padding-left: 5px;
    padding-right: 5px;
}
.page-breadcrumb {
    float: left;
}